.achv{
    display: none;
}
.acchv{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.achievement{
    margin-bottom: 0.51rem;
    height: auto;
    padding-left: 0.5rem;
    width: 80%;
    border: 0.1rem solid #000;
}
.addachv{
    color: blue;
    cursor: pointer;
    margin-left: 80%;
}